ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

caption {
    text-align: left;
}

td {
    text-align: center;
}

table {
    margin: 0 auto;
    /* table-layout: fixed; */
}

a {
    color: darkgreen
}