.degree td {
    color: var(--Pantone2767);
    border-collapse: initial;
}

.degree a {
    color: white;
}

td.honors {
    font-style: italic;
}

/* .degree caption {} */

.degree img {
    height: 15vh;
    width: 15vw;
    object-fit: scale-down;
}

td.name {
    color: var(--Pantone2767);
}

.school a {
    /* color: var(--Pantone2767); */
    color: white;
}

table.csuf {
    background-color: var(--Pantone186);
    border: 1px solid var(--PantoneCoolGray7);
}