.degree {
    /*Fresno State Colors*/
    /*red*/
    --Pantone186: #c41230;
    /*blue*/
    --Pantone2767: #13284c;
    /*Cool Gray*/
    --PantoneCoolGray7: #98989a;
    /*Green V*/
    --Pantone356: #007935;
}

.degree td {
    color: var(--Pantone186);
    border-collapse: initial;
}

.degree a {
    color: white;
}

td#honors {
    font-style: italic;
}

.degree img {
    height: 10vh;
    width: 10vw;
    object-fit: scale-down;
}

/* td#degreeName {
    /* color: var(--Pantone186); */
/* font-weight: bold; */
/* } */

#school a {
    color: var(--Pantone186);
    text-decoration: none;
    /* color: white; */
}

#school a:hover {
    background-color: white;
}

table.csuf {
    background-color: var(--PantoneCoolGray7);
    border-collapse: collapse;
    border: 1px solid var(--PantoneCoolGray7);
    margin: 2vh auto;
}

td.diploma {
    text-align: center;
    background-color: white;
}

.diploma a {
    color: var(--Pantone186);
    text-decoration: none;
}


td.bulldogLogo {
    background-color: var(--Pantone186);
}

td.info {
    background-color: var(--Pantone2767);
}

.csuf caption {
    display: none;
    /* color: var(--H2); */
}