.header {
    display: grid;
    grid-template-columns: 1fr max-content;
}

#headerHeadings h1,
#headerHeadings h2 {
    text-align: center;
    background: -webkit-linear-gradient(45deg, var(--DarkBlue), white);
    background-color: #050A30;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    text-align: left;
}

.header img {
    height: 10vh;
}