.header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* background-image: linear-gradient(45deg, white, var(--DarkBlue)); */
    background-image: linear-gradient(45deg, var(--HeaderBg0), var(--HeaderBg1));
    background-color: var(--HeaderBg);
    position: sticky;
    top: 0;
    align-items: center;
    z-index: 1000;
    /* overflow: visible; */
    /* height: 50px; */
}

#headerHeadings {
    text-align: center;
    color: var(--HeaderFont);
}

#headerHeadings h1 {
    font-size: xxx-large;
}

#headerHeadings h2 {
    font-size: x-large;
}