
.videoMaskWrapper {
    position: relative;
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
}

.natureVideo {
    width: 100%;
    position: absolute;
    bottom: 0;
}

svg {
    position: relative;
}

text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 25px;
}

svg rect {
    -webkit-mask: url(#mask);
    mask: url(#mask);
}

rect {
    fill: #fff;
}