Nav {
    background-color: blue;
    color: chocolate;
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: large;
}

Nav .NavLink-Active li {
    background-color: #e7c9a9;
}

.NavLink {
    color: darkgoldenrod;
}

Nav a {
    text-decoration: none;
}

Nav ul {
    background-color: white;
    /*overflow allows background to appear in conjuction with child floats*/
    overflow: auto;
}

Nav li {
    background-color: #e7c9a0;
    padding: 2vh 2vw;
    float: left;
    border-radius: 20px 20px 0 0;
}