nav {
    background-image: linear-gradient(white, var(--DarkBlue), white);
    /* color: black; */
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: large;
    top: 0;
    position: sticky;
}

nav .NavLink-Active li {
    background-color: white;
    color: black;
    background-image: none;
    /* border: 1px white solid; */
}

/* Nav .NavLink-Active li:hover {
    border: 1px white solid;
} */

.NavLink li:hover {
    color: black;
    background-color: white;
    background-image: none;
    /* border-right: 1px solid black; */
}

nav a {
    text-decoration: none;
    display: inline-block;
}

nav ul {
    /* background-color: black; */
    /*overflow allows background to appear in conjuction with child floats*/
    /* overflow: auto; */
    /* border: 1px solid black; */
    text-align: center;
    display: inline;
}

nav li {
    color: white;
    background-image: linear-gradient(white, var(--DarkBlue), white);
    /* background-color: var(--DarkBlue); */
    padding: 2vh 3vw;
    /* border-radius: 20px 20px 0 0; */
    /* border: 1px white solid; */
    border-right: 1px white solid;
    border-left: 1px white solid;

    /* border-bottom: 1px white solid; */

    /* background: -webkit-linear-gradient(white, var(--DarkBlue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    display: inline-block;
}