nav {
    /* background-image: linear-gradient(135deg, white, var(--DarkBlue)); */
    /* color: black; */
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: large;
    top: 0;
    position: sticky;
}

nav ul {
    /* background-color: black; */
    /*overflow allows background to appear in conjuction with child floats*/
    /* overflow: auto; */
    /* border: 1px solid black; */
    text-align: center;
    display: inline;
}

nav .NavLink-Active li {
    background-color: white;
    color: black;
    background-image: none;
    border: 1px var(--DarkBlue) solid;
}

.NavLink li:hover {
    color: black;
    background-color: white;
    background-image: none;
}

nav a {
    text-decoration: none;
}

nav li {
    color: white;
    background-image: linear-gradient(white, var(--DarkBlue), white);
    padding: 2vh 3vw;
    /* border: 1px white solid; */

    /* border-bottom: 1px white solid; */
    border-radius: 50px;

    /* background: -webkit-linear-gradient(white, var(--DarkBlue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    display: inline-block;
}