/* Skills Page CSS*/

.Skills table {
    border: 1px solid black;
    /* background-color: blue; */
    /* float: left; */
    border-spacing: 1vw;
    border-collapse: separate;
    display: inline-table;
    margin: 0 2vw;
}

.Skills li.odd {
    background-color: var(--Odd);
}

.Skills li.even {
    background-color: var(--Even);
}