#Work_Experience caption h4 {
    color: var(--Color0);
    font-size: 1.5rem;
}

#Work_Experience td {
    padding: 1vh 0;
}

#Work_Experience tr.odd {
    /* background-color: var(--Color4); */
    color: var(--Color0);
}

#Work_Experience tr.even {
    background-color: var(--Color4);
    color: var(--Color0);
}

#Work_Experience thead {
    display: none;
}

#Work_Experience td.description {
    text-align: left;
    padding: 0 2vw 1vh 0;
}

#Work_Experience table {
    margin: 2vh auto;
    width: 90vw;
    border-collapse: collapse;
    /* table-layout: fixed; */
}

#Work_Experience .start {
    width: 10%;
}

#Work_Experience .end {
    width: 10%;
}

#Work_Experience .title {
    width: 30%;
}

#Work_Experience .company {
    width: 30%;
}

#Work_Experience .location {
    width: 20%;
}

/* table.WorkExperience tr {
    margin: 2vh;
} */