.WorkExperience tr.odd {
    background-color: var(--Odd);
}

.WorkExperience tr.even {
    background-color: var(--Even);
}

.WorkExperience thead {
    display: none;
}

.WorkExperience td.description {
    text-align: left;
    padding: 0 2vw;
}

.WorkExperience table {
    margin: 0 2vw;
}

/* table.WorkExperience tr {
    margin: 2vh;
} */